In [45]:
import pandas as pd
import numpy as np

In [46]:
df=pd.read_csv("E:/Full Stack Data Scientist Bootcamp/webapp project/project-5/ipl.csv")
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [47]:
df.head(60)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
5,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.5,2,0,0,0,222
6,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,3,0,0.6,3,0,0,0,222
7,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,3,0,1.1,3,0,0,0,222
8,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,7,0,1.2,7,0,4,0,222
9,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,11,0,1.3,11,0,8,0,222
10,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,17,0,1.4,17,0,14,0,222
11,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,21,0,1.5,21,0,18,0,222
12,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,21,0,1.6,21,0,18,0,222
13,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,21,0,2.1,21,0,18,0,222
14,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,21,0,2.2,21,0,18,0,222
15,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,22,0,2.3,22,0,18,0,222
16,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,26,0,2.4,26,0,22,0,222
17,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,27,0,2.5,27,0,23,0,222
18,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,27,0,2.6,27,0,23,0,222
19,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,AA Noffke,32,0,3.0,32,0,23,0,222
20,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,AA Noffke,38,0,3.1,38,0,29,0,222
21,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,AA Noffke,39,0,3.2,39,0,29,0,222
22,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,AA Noffke,43,0,3.3,43,0,29,4,222
23,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,AA Noffke,43,0,3.4,43,0,29,4,222
24,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,AA Noffke,44,0,3.5,44,0,29,5,222
25,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,AA Noffke,50,0,3.6,50,0,35,5,222
26,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,54,0,4.1,54,0,35,9,222
27,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,55,0,4.2,55,0,35,10,222
28,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,59,0,4.3,59,0,39,10,222
29,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,59,0,4.4,59,0,39,10,222
30,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,60,0,4.5,59,0,40,10,222
31,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,60,0,4.6,59,0,40,10,222
32,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,61,0,5.1,59,0,41,10,222
33,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,Z Khan,61,1,5.2,59,1,41,10,222
34,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.3,59,1,41,0,222
35,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.4,59,1,41,0,222
36,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.5,58,1,41,0,222
37,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.6,58,1,41,0,222
38,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,AA Noffke,62,1,6.1,55,1,42,0,222
39,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,AA Noffke,63,1,6.2,52,1,42,1,222
40,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,AA Noffke,64,1,6.3,47,1,43,1,222
41,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,AA Noffke,66,1,6.4,45,1,43,3,222
42,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,AA Noffke,67,1,6.5,46,1,43,4,222
43,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,AA Noffke,68,1,6.6,47,1,44,4,222
44,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,68,1,7.1,47,1,44,4,222
45,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,69,1,7.2,47,1,45,4,222
46,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,70,1,7.3,44,1,45,5,222
47,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,71,1,7.4,44,1,46,5,222
48,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,72,1,7.5,45,1,46,6,222
49,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,73,1,7.6,41,1,47,6,222
50,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,JH Kallis,73,1,8.1,35,1,47,6,222
51,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,JH Kallis,73,1,8.2,34,1,47,6,222
52,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,JH Kallis,73,1,8.3,30,1,47,6,222
53,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,JH Kallis,74,1,8.4,31,1,48,6,222
54,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,JH Kallis,75,1,8.5,31,1,48,7,222
55,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,JH Kallis,77,1,8.6,27,1,50,7,222
56,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,SB Joshi,78,1,9.1,24,1,50,8,222
57,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SB Joshi,79,1,9.2,24,1,51,8,222
58,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,SB Joshi,80,1,9.3,21,1,51,9,222
59,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SB Joshi,80,1,9.4,21,1,51,9,222

In [48]:
df.iloc[60:125,:]

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
60,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SB Joshi,86,1,9.5,26,1,57,9,222
61,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SB Joshi,87,1,9.6,27,1,58,9,222
62,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,JH Kallis,88,1,10.1,27,1,59,9,222
63,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,JH Kallis,92,1,10.2,31,0,59,13,222
64,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,JH Kallis,92,1,10.3,31,0,59,13,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,214,3,19.3,69,1,150,5,222
121,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,214,3,19.4,67,1,150,5,222
122,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,216,3,19.5,68,1,152,5,222
123,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,222,3,19.6,68,1,158,5,222
124,2,2008-04-19,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,PA Patel,B Lee,0,0,0.1,0,0,0,0,240

In [49]:
new_data=df[['venue','bat_team','bowl_team','batsman','bowler','runs','wickets','overs','runs_last_5','wickets_last_5']]

In [50]:
new_data

,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0
...,...,...,...,...,...,...,...,...,...,...
76009,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0
76010,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0
76011,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0
76012,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0
76013,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1

In [51]:
new_data['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park'],
      dtype=object)

In [52]:
new_data['venue'].nunique()

35

In [53]:
new_data['venue'].value_counts().sort_values()

OUTsurance Oval                                          251
De Beers Diamond Oval                                    368
Vidarbha Cricket Association Stadium, Jamtha             370
Buffalo Park                                             380
Green Park                                               492
Nehru Stadium                                            499
Holkar Cricket Stadium                                   617
Newlands                                                 737
Shaheed Veer Narayan Singh International Stadium         742
Sharjah Cricket Stadium                                  744
Sheikh Zayed Stadium                                     836
JSCA International Stadium Complex                       837
Barabati Stadium                                         856
Dubai International Cricket Stadium                      868
St George's Park                                         870
New Wanderers Stadium                                    995
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     1113
Himachal Pradesh Cricket Association Stadium            1115
Saurashtra Cricket Association Stadium                  1229
Punjab Cricket Association IS Bindra Stadium, Mohali    1342
SuperSport Park                                         1377
Brabourne Stadium                                       1380
Sardar Patel Stadium, Motera                            1484
Kingsmead                                               1731
Maharashtra Cricket Association Stadium                 1843
Subrata Roy Sahara Stadium                              2086
Dr DY Patil Sports Academy                              2088
Sawai Mansingh Stadium                                  4110
Punjab Cricket Association Stadium, Mohali              4247
Rajiv Gandhi International Stadium, Uppal               5827
MA Chidambaram Stadium, Chepauk                         5972
Wankhede Stadium                                        7048
Eden Gardens                                            7049
Feroz Shah Kotla                                        7068
M Chinnaswamy Stadium                                   7443
Name: venue, dtype: int64

In [54]:
print(new_data['venue'].nunique())
print(new_data['bat_team'].nunique())
print(new_data['bowl_team'].nunique())
print(new_data['batsman'].nunique())
print(new_data['bowler'].nunique())

35
14
14
411
329

In [55]:
new_data.columns

Index(['venue', 'bat_team', 'bowl_team', 'batsman', 'bowler', 'runs',
       'wickets', 'overs', 'runs_last_5', 'wickets_last_5'],
      dtype='object')

In [56]:
new_data['batsman'].value_counts().sort_index().head(60)

A Ashish Reddy      115
A Chandila            7
A Chopra             72
A Choudhary          12
A Flintoff           14
A Kumble             16
A Mishra            173
A Mithun              5
A Mukund             22
A Nehra              19
A Singh               4
A Symonds           472
A Uniyal              6
AA Bilakhia          41
AA Chavan             9
AA Jhunjhunwala     134
AB Agarkar           98
AB Dinda             22
AB McDonald          57
AB de Villiers     1295
AC Blizzard          30
AC Gilchrist        763
AC Thomas             2
AC Voges             99
AD Mascarenhas       47
AD Mathews          322
AD Nath              10
AD Russell          118
AF Milne              1
AG Murtaza            5
AG Paunikar          34
AJ Finch            682
AJ Tye               12
AL Menaria          237
AM Nayar            308
AM Rahane          1333
AN Ahmed              2
AN Ghosh              7
AP Dole               4
AP Majumdar          20
AP Tare             161
AR Bawne             12
AR Patel            257
AS Rajpoot            7
AS Raut              74
AS Yadav             36
AT Rayudu          1040
AUK Pathan            7
Anirudh Singh        43
Ankit Sharma         48
Ankit Soni            9
Anureet Singh         4
Azhar Mahmood       180
B Akhil              28
B Chipli            140
B Kumar              40
B Lee                53
B Sumanth            16
BA Bhatt              2
BA Stokes            93
Name: batsman, dtype: int64

In [57]:
new_data['wickets_last_5'].value_counts()

1    27238
0    24918
2    16102
3     5802
4     1534
5      350
6       65
7        5
Name: wickets_last_5, dtype: int64

In [58]:
data=df[['bat_team','bowl_team','runs','wickets','overs','runs_last_5','wickets_last_5','total']]

In [59]:
data

,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...
76009,Mumbai Indians,Rising Pune Supergiant,121,7,19.2,40,0,129
76010,Mumbai Indians,Rising Pune Supergiant,127,7,19.3,46,0,129
76011,Mumbai Indians,Rising Pune Supergiant,128,7,19.4,47,0,129
76012,Mumbai Indians,Rising Pune Supergiant,129,7,19.5,48,0,129
76013,Mumbai Indians,Rising Pune Supergiant,129,8,19.6,47,1,129

In [60]:
data['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [61]:
# Keeping only consistent teams
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                    'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
                    'Delhi Daredevils', 'Sunrisers Hyderabad']

In [62]:
data=data[data['bat_team'].isin(consistent_teams)]

In [63]:
data=data[data['bowl_team'].isin(consistent_teams)]

In [64]:
data

,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...
75884,Kolkata Knight Riders,Mumbai Indians,106,9,18.1,29,4,107
75885,Kolkata Knight Riders,Mumbai Indians,107,9,18.2,29,4,107
75886,Kolkata Knight Riders,Mumbai Indians,107,9,18.3,28,4,107
75887,Kolkata Knight Riders,Mumbai Indians,107,9,18.4,24,4,107
75888,Kolkata Knight Riders,Mumbai Indians,107,10,18.5,23,5,107

In [65]:
print(data['bowl_team'].nunique())
print(data['bowl_team'].unique())

8
['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Rajasthan Royals' 'Mumbai Indians' 'Chennai Super Kings'
 'Kolkata Knight Riders' 'Sunrisers Hyderabad']

In [66]:
print(data['bat_team'].nunique())
print(data['bat_team'].unique())

8
['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Kings XI Punjab' 'Royal Challengers Bangalore'
 'Delhi Daredevils' 'Sunrisers Hyderabad']

In [67]:
categorical_teams={
    'Royal Challengers Bangalore':1,
    'Kings XI Punjab':2,
    'Delhi Daredevils':3,
    'Rajasthan Royals':4,
    'Mumbai Indians':5,
    'Chennai Super Kings':6,
    'Kolkata Knight Riders':7,
    'Sunrisers Hyderabad':8,
}

In [68]:
data['bat_team']=data['bat_team'].map(categorical_teams)

In [69]:
data['bat_team'].value_counts()

5    8461
2    7889
6    7536
1    6843
7    6300
4    6038
3    6022
8    4722
Name: bat_team, dtype: int64

In [70]:
data['bowl_team']=data['bowl_team'].map(categorical_teams)
data['bowl_team']

0        1
1        1
2        1
3        1
4        1
        ..
75884    5
75885    5
75886    5
75887    5
75888    5
Name: bowl_team, Length: 53811, dtype: int64

In [71]:
data['bowl_team'].value_counts()

3    8273
7    8112
1    7802
5    7681
2    6683
4    6412
6    5994
8    2854
Name: bowl_team, dtype: int64

In [72]:
col_list=['bowl_team','bat_team']

data=pd.get_dummies(data,columns=col_list)

In [73]:
data

,runs,wickets,overs,runs_last_5,wickets_last_5,total,bowl_team_1,bowl_team_2,bowl_team_3,bowl_team_4,...,bowl_team_7,bowl_team_8,bat_team_1,bat_team_2,bat_team_3,bat_team_4,bat_team_5,bat_team_6,bat_team_7,bat_team_8
0,1,0,0.1,1,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0.2,1,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,0,0.2,2,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2,0,0.3,2,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2,0,0.4,2,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,106,9,18.1,29,4,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75885,107,9,18.2,29,4,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75886,107,9,18.3,28,4,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75887,107,9,18.4,24,4,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75888,107,10,18.5,23,5,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [74]:
from pyforest import*

In [75]:
# data1=df[['runs','wickets','overs','runs_last_5','wickets_last_5','total']]


# sns.pairplot(data1)
# plt.show()

In [76]:
data

,runs,wickets,overs,runs_last_5,wickets_last_5,total,bowl_team_1,bowl_team_2,bowl_team_3,bowl_team_4,...,bowl_team_7,bowl_team_8,bat_team_1,bat_team_2,bat_team_3,bat_team_4,bat_team_5,bat_team_6,bat_team_7,bat_team_8
0,1,0,0.1,1,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0.2,1,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,0,0.2,2,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2,0,0.3,2,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2,0,0.4,2,0,222,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,106,9,18.1,29,4,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75885,107,9,18.2,29,4,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75886,107,9,18.3,28,4,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75887,107,9,18.4,24,4,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
75888,107,10,18.5,23,5,107,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [77]:
# from scipy.stats import zscore
# data=data.apply(zscore)
# data

In [78]:
x=data.drop('total',axis=1)
y=data['total']

In [79]:
x

,runs,wickets,overs,runs_last_5,wickets_last_5,bowl_team_1,bowl_team_2,bowl_team_3,bowl_team_4,bowl_team_5,...,bowl_team_7,bowl_team_8,bat_team_1,bat_team_2,bat_team_3,bat_team_4,bat_team_5,bat_team_6,bat_team_7,bat_team_8
0,1,0,0.1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0.2,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,0,0.2,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2,0,0.3,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2,0,0.4,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75884,106,9,18.1,29,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
75885,107,9,18.2,29,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
75886,107,9,18.3,28,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
75887,107,9,18.4,24,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
75888,107,10,18.5,23,5,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [80]:
y

0        222
1        222
2        222
3        222
4        222
        ...
75884    107
75885    107
75886    107
75887    107
75888    107
Name: total, Length: 53811, dtype: int64

In [81]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)

In [82]:
x_train

,runs,wickets,overs,runs_last_5,wickets_last_5,bowl_team_1,bowl_team_2,bowl_team_3,bowl_team_4,bowl_team_5,...,bowl_team_7,bowl_team_8,bat_team_1,bat_team_2,bat_team_3,bat_team_4,bat_team_5,bat_team_6,bat_team_7,bat_team_8
37114,76,4,11.3,25,2,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
11593,4,0,0.6,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
66202,71,2,9.2,34,2,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
20246,44,1,5.1,42,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
56084,152,5,17.4,49,2,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68830,145,3,15.3,46,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
48184,78,4,13.5,37,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6923,57,1,9.2,29,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
16511,71,1,7.3,46,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
48676,81,3,11.4,39,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [83]:
y_train

37114    136
11593    129
66202    181
20246    192
56084    177
        ...
68830    208
48184    145
6923     165
16511    177
48676    166
Name: total, Length: 37667, dtype: int64

In [84]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(x_train,y_train)

LinearRegression()

In [85]:
lr_pred = lr.predict(x_test)

In [86]:
lr_accuracy = round(lr.score(x_train,y_train)*100)
lr_accuracy

53

In [87]:
#Use pickle to save our model so that we can use it later

import pickle 
# Saving model to disk
pickle.dump(lr, open('ipl_model.pkl','wb'))
# model=pickle.load(open('ipl_model.pkl','rb'))

In [88]:
x_train.head()

,runs,wickets,overs,runs_last_5,wickets_last_5,bowl_team_1,bowl_team_2,bowl_team_3,bowl_team_4,bowl_team_5,...,bowl_team_7,bowl_team_8,bat_team_1,bat_team_2,bat_team_3,bat_team_4,bat_team_5,bat_team_6,bat_team_7,bat_team_8
37114,76,4,11.3,25,2,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
11593,4,0,0.6,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
66202,71,2,9.2,34,2,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
20246,44,1,5.1,42,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
56084,152,5,17.4,49,2,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0