#### Importing all Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sb
from sklearn import metrics
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from IPython.display import Image
from os import system

#### reading data from csv file or loading the data set

In [83]:
creditData=pd.read_csv('E:/Full Stack Data Scientist Bootcamp/Supervised ML resources/credit.csv')
creditData

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,unknown,12,good,furniture/appliances,1736,< 100 DM,4 - 7 years,3,4,31,none,own,1,unskilled,1,no,no
996,< 0 DM,30,good,car,3857,< 100 DM,1 - 4 years,4,4,40,none,own,1,management,1,yes,no
997,unknown,12,good,furniture/appliances,804,< 100 DM,> 7 years,4,4,38,none,own,1,skilled,1,no,no
998,< 0 DM,45,good,furniture/appliances,1845,< 100 DM,1 - 4 years,4,4,23,none,other,1,skilled,1,yes,yes
999,1 - 200 DM,45,critical,car,4576,100 - 500 DM,unemployed,3,4,27,none,own,1,skilled,1,no,no

In [84]:
creditData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   object
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_duration   1000 non-null   object
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: int64(7), object(10)
memory usage: 132.9+ KB

In [85]:
creditData.columns

Index(['checking_balance', 'months_loan_duration', 'credit_history', 'purpose',
       'amount', 'savings_balance', 'employment_duration', 'percent_of_income',
       'years_at_residence', 'age', 'other_credit', 'housing',
       'existing_loans_count', 'job', 'dependents', 'phone', 'default'],
      dtype='object')

In [86]:
for f in creditData.columns:
    if creditData[f].dtype=='object':
        creditData[f] = pd.Categorical(creditData[f])

In [87]:
creditData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   category
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   category
 6   employment_duration   1000 non-null   category
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   category
 11  housing               1000 non-null   category
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   category
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   category
 16  default               1000 non-null   category
dtypes: category(10), int64(7)
memory usage: 66.3 KB

In [64]:
for f in creditData.columns:
    print("the null values in column " + f + " is " + creditData[f].value_counts())

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U46'), dtype('int64')) -> None

In [88]:
print(creditData.checking_balance.value_counts())
print(creditData.credit_history.value_counts())
print(creditData.purpose.value_counts())
print(creditData.savings_balance.value_counts())
print(creditData.employment_duration.value_counts())
print(creditData.other_credit.value_counts())
print(creditData.housing.value_counts())
print(creditData.job.value_counts())
print(creditData.phone.value_counts())

unknown       394
< 0 DM        274
1 - 200 DM    269
> 200 DM       63
Name: checking_balance, dtype: int64
good         530
critical     293
poor          88
very good     49
perfect       40
Name: credit_history, dtype: int64
furniture/appliances    473
car                     337
business                 97
education                59
renovations              22
car0                     12
Name: purpose, dtype: int64
< 100 DM         603
unknown          183
100 - 500 DM     103
500 - 1000 DM     63
> 1000 DM         48
Name: savings_balance, dtype: int64
1 - 4 years    339
> 7 years      253
4 - 7 years    174
< 1 year       172
unemployed      62
Name: employment_duration, dtype: int64
none     814
bank     139
store     47
Name: other_credit, dtype: int64
own      713
rent     179
other    108
Name: housing, dtype: int64
skilled       630
unskilled     200
management    148
unemployed     22
Name: job, dtype: int64
no     596
yes    404
Name: phone, dtype: int64

In [89]:
creditData.columns

Index(['checking_balance', 'months_loan_duration', 'credit_history', 'purpose',
       'amount', 'savings_balance', 'employment_duration', 'percent_of_income',
       'years_at_residence', 'age', 'other_credit', 'housing',
       'existing_loans_count', 'job', 'dependents', 'phone', 'default'],
      dtype='object')

In [90]:
creditData.tail()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
995,unknown,12,good,furniture/appliances,1736,< 100 DM,4 - 7 years,3,4,31,none,own,1,unskilled,1,no,no
996,< 0 DM,30,good,car,3857,< 100 DM,1 - 4 years,4,4,40,none,own,1,management,1,yes,no
997,unknown,12,good,furniture/appliances,804,< 100 DM,> 7 years,4,4,38,none,own,1,skilled,1,no,no
998,< 0 DM,45,good,furniture/appliances,1845,< 100 DM,1 - 4 years,4,4,23,none,other,1,skilled,1,yes,yes
999,1 - 200 DM,45,critical,car,4576,100 - 500 DM,unemployed,3,4,27,none,own,1,skilled,1,no,no

In [91]:
replaceData={
            "checking_balance":     {"< 0 DM": 1, "1 - 200 DM": 2 ,"> 200 DM": 3 ,"unknown":-1},
            "credit_history": {"critical": 1, "poor":2 , "good": 3, "very good": 4,"perfect": 5},
            "savings_balance": {"< 100 DM": 1, "100 - 500 DM":2 , "500 - 1000 DM": 3, "> 1000 DM": 4,"unknown": -1},
            "employment_duration":     {"unemployed": 1, "< 1 year": 2 ,"1 - 4 years": 3 ,"4 - 7 years": 4 ,"> 7 years": 5},
            "phone":     {"no": 1, "yes": 2 },
            "default":     {"no": 0, "yes": 1 }
}
oneHotCols=["purpose","housing","other_credit","job"]

In [92]:
creditData=creditData.replace(replaceData)

In [93]:
creditData.tail()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
995,-1,12,3,furniture/appliances,1736,1,4,3,4,31,none,own,1,unskilled,1,1,0
996,1,30,3,car,3857,1,3,4,4,40,none,own,1,management,1,2,0
997,-1,12,3,furniture/appliances,804,1,5,4,4,38,none,own,1,skilled,1,1,0
998,1,45,3,furniture/appliances,1845,1,3,4,4,23,none,other,1,skilled,1,2,1
999,2,45,1,car,4576,2,1,3,4,27,none,own,1,skilled,1,1,0

In [94]:
creditData.dtypes

checking_balance        category
months_loan_duration       int64
credit_history          category
purpose                 category
amount                     int64
savings_balance         category
employment_duration     category
percent_of_income          int64
years_at_residence         int64
age                        int64
other_credit            category
housing                 category
existing_loans_count       int64
job                     category
dependents                 int64
phone                   category
default                 category
dtype: object

In [95]:
creditData=pd.get_dummies(creditData, columns=oneHotCols)

In [96]:
creditData.tail()

,checking_balance,months_loan_duration,credit_history,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,existing_loans_count,...,housing_other,housing_own,housing_rent,other_credit_bank,other_credit_none,other_credit_store,job_management,job_skilled,job_unemployed,job_unskilled
995,-1,12,3,1736,1,4,3,4,31,1,...,0,1,0,0,1,0,0,0,0,1
996,1,30,3,3857,1,3,4,4,40,1,...,0,1,0,0,1,0,1,0,0,0
997,-1,12,3,804,1,5,4,4,38,1,...,0,1,0,0,1,0,0,1,0,0
998,1,45,3,1845,1,3,4,4,23,1,...,1,0,0,0,1,0,0,1,0,0
999,2,45,1,4576,2,1,3,4,27,1,...,0,1,0,0,1,0,0,1,0,0

In [97]:
creditData.dtypes

checking_balance                category
months_loan_duration               int64
credit_history                  category
amount                             int64
savings_balance                 category
employment_duration             category
percent_of_income                  int64
years_at_residence                 int64
age                                int64
existing_loans_count               int64
dependents                         int64
phone                           category
default                         category
purpose_business                   uint8
purpose_car                        uint8
purpose_car0                       uint8
purpose_education                  uint8
purpose_furniture/appliances       uint8
purpose_renovations                uint8
housing_other                      uint8
housing_own                        uint8
housing_rent                       uint8
other_credit_bank                  uint8
other_credit_none                  uint8
other_credit_store                 uint8
job_management                     uint8
job_skilled                        uint8
job_unemployed                     uint8
job_unskilled                      uint8
dtype: object

In [102]:
y=creditData['default']
x=creditData.drop('default',axis=1)

In [103]:
x

,checking_balance,months_loan_duration,credit_history,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,existing_loans_count,...,housing_other,housing_own,housing_rent,other_credit_bank,other_credit_none,other_credit_store,job_management,job_skilled,job_unemployed,job_unskilled
0,1,6,1,1169,-1,5,4,4,67,2,...,0,1,0,0,1,0,0,1,0,0
1,2,48,3,5951,1,3,2,2,22,1,...,0,1,0,0,1,0,0,1,0,0
2,-1,12,1,2096,1,4,2,3,49,1,...,0,1,0,0,1,0,0,0,0,1
3,1,42,3,7882,1,4,2,4,45,1,...,1,0,0,0,1,0,0,1,0,0
4,1,24,2,4870,1,3,3,4,53,2,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1,12,3,1736,1,4,3,4,31,1,...,0,1,0,0,1,0,0,0,0,1
996,1,30,3,3857,1,3,4,4,40,1,...,0,1,0,0,1,0,1,0,0,0
997,-1,12,3,804,1,5,4,4,38,1,...,0,1,0,0,1,0,0,1,0,0
998,1,45,3,1845,1,3,4,4,23,1,...,1,0,0,0,1,0,0,1,0,0
999,2,45,1,4576,2,1,3,4,27,1,...,0,1,0,0,1,0,0,1,0,0

In [104]:
y

0      0
1      1
2      0
3      0
4      1
      ..
995    0
996    0
997    0
998    1
999    0
Name: default, Length: 1000, dtype: category
Categories (2, int64): [0, 1]

In [105]:
x_train, x_test, y_train ,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [115]:
model_1= DecisionTreeClassifier(criterion='gini' ,random_state=1)
model_1.fit(x_train,y_train)

DecisionTreeClassifier(random_state=1)

In [113]:
y_pred=model_1.predict(x_test,y_test)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [116]:
print(model_1.score(x_train,y_train))
print(model_1.score(x_test,y_test))

1.0
0.67

In [122]:
train_char_label = ['No', 'Yes']
Credit_Tree_File = open('credit_tree.dot','w')
dot_data = tree.export_graphviz(model_1, out_file=Credit_Tree_File, feature_names = list(x_train), class_names = list(train_char_label))
Credit_Tree_File.close()

In [123]:
!pip install graphviz

Requirement already satisfied: graphviz in e:\anaconda\lib\site-packages (0.20.1)

In [124]:
#Works only if "dot" command works on you machine

retCode = system("dot -Tpng credit_tree.dot -o credit_tree.png")
if(retCode>0):
    print("system command returning error: "+str(retCode))
else:
    display(Image("credit_tree.png"))

system command returning error: 1

In [127]:
model_2 = DecisionTreeClassifier(criterion = 'gini', max_depth = 3, random_state=1)
model_2.fit(x_train, y_train)
print(model_2.score(x_train, y_train))
print(model_2.score(x_test, y_test))

0.73125
0.705

In [129]:
train_char_label = ['No', 'Yes']
Credit_Tree_FileR = open('credit_treeR.dot','w')
dot_data = tree.export_graphviz(dTreeR, out_file=Credit_Tree_FileR, feature_names = list(x_train), class_names = list(train_char_label))
Credit_Tree_FileR.close()

#Works only if "dot" command works on you machine

retCode = system("dot -Tpng credit_treeR.dot -o credit_treeR.png")
if(retCode>0):
    print("system command returning error: "+str(retCode))
else:
    display(Image("credit_treeR.png"))

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [133]:
# importance of features in the tree building ( The importance of a feature is computed as the 
#(normalized) total reduction of the criterion brought by that feature. It is also known as the Gini importance )

print (pd.DataFrame(model_2.feature_importances_, columns = ["Importance"], index = x_train.columns))

                              Importance
checking_balance                0.636150
months_loan_duration            0.176232
credit_history                  0.072164
amount                          0.000000
savings_balance                 0.000000
employment_duration             0.048613
percent_of_income               0.000000
years_at_residence              0.000000
age                             0.000000
existing_loans_count            0.000000
dependents                      0.000000
phone                           0.000000
purpose_business                0.000000
purpose_car                     0.000000
purpose_car0                    0.000000
purpose_education               0.000000
purpose_furniture/appliances    0.000000
purpose_renovations             0.000000
housing_other                   0.000000
housing_own                     0.000000
housing_rent                    0.000000
other_credit_bank               0.000000
other_credit_none               0.066841
other_credit_store              0.000000
job_management                  0.000000
job_skilled                     0.000000
job_unemployed                  0.000000
job_unskilled                   0.000000

In [139]:
print(model_2.score(x_test , y_test))
y_predict = model_2.predict(y_test)

cm=metrics.confusion_matrix(y_test, y_predict, labels=[0, 1])

df_cm = pd.DataFrame(cm, index = [i for i in ["No","Yes"]], columns = [i for i in ["Predicted No"," Predicted Yes"]])
plt.figure(figsize = (7,5))
sb.heatmap(df_cm, annot=True ,fmt='g')

0.705

E:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0.
 0. 0. 0. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0.
 1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0.
 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1.
 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1.
 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1.
 0. 0. 0. 0. 0. 0. 0. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.